/* ======================================================
PREÇO DO SERVIÇO - AGENDAMENTO
====================================================== */

.python-service-card .service-price {

    margin-top: 10px;

    display: block;

    color: var(--blue);

    font-family: Anton;

    font-size: 22px;

    font-weight: normal;

    letter-spacing: .5px;

}


.python-service-card.selected .service-price {

    color: #ffffff;

}